.product {
    display: flex;
    justify-content: space-between;

    text-align: start;

    border: 1px solid aquamarine;
    border-radius: 5px;

    padding: 10px;
}

.quantity {
    width: 30px;
}

.productDescription {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;
    
    font-size: 1.2rem;
    font-weight: bold;
}

.price {
    margin-left: auto;
    margin-right: 15px;
}

.deleteProduct {
    cursor: pointer;
}