.productsSection {
    height: 100%;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: min-content;
    place-items: center;
    justify-content: space-between;
    gap: 30px 60px;
}